# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ansible
.ansible
*.retry
.vagrant/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Linter Configs
.pre-commit-config.yaml
.pymarkdown
.ansible-lint
.ruff_cache/

# Logs
logs/
*.log

# Temporary files
*.tmp
*.temp

# UV specific
uv.lock
